.footer{
    display: flex;
    background-color: rgb(244,244,244);
    height: 250px;
    border-top: 2px solid black;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
}
.left-part-footer{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.middle-part-footer{
    display: flex;
    gap: 30px;
    align-items: center;
}
.middle-center-part{
    height: 174.167px;
}
.footer-logo-section{
    display: flex;
    align-items: center;
}
.footer-content{
    padding-left: 15px;
    color: grey;
    font-size: 13px;
}
.footer-heading{
    color: black;
    font-weight: bold;
    margin-bottom: 5px;

}
.footer-text{
    color: grey;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    transition: color ease 0.15s;
}
.footer-text:hover{
    color: rgb(45, 98, 230);

}
.footer-img{
    width: 140px;

}