.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    border-bottom: 2px solid black;
    background-color: rgb(244, 244, 244);
}

.left-section {
    width: 100px;
}

.middle-section {
    display: flex;
    align-items: center;
    width: 380px;
}

.right-section {
    height: 70px;
    display: flex;
    flex: 1;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.right-section-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.far-right-section {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-search {
    background-color: rgb(96, 96, 96);
    padding: 5.5px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow:inset 1px 1px 9px rgb(138, 134, 134); */
}

.shopping-cart-icon {
    position: relative;
    z-index: 5;
}

.cart-count {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(176, 6, 6);
    color: white;
    padding: 2px;
    height: 15px;
    width: 15px;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 11px;
}

.btn-cart {
    color: rgb(2, 82, 218);
    background-color: rgb(244, 244, 244);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-cart:hover {
    transform: scale(1.1);
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15px;
    font-weight: 600;
    width: 100px;
}

.btn-search:active {
    background-color: rgb(151, 150, 150);
}