* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono";
}
body{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
a {
  text-decoration: none;   /* removes underline */
  color: inherit;          /* takes parent text color */
}

.jersey-15-regular {
    font-family: "Jersey 15";
    font-weight: 400;
    font-style: normal;
}
.icon-image{
    height: 24px;
    width: 24px;
}
.search {
    flex: 1;
    width: 250px;
    border: none;
    margin-right: 15px;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px rgb(138, 134, 134);
}

.btn {
    padding: 5px;
    height: 40px;
    padding: 0px 15px;
    color: white;
    background-color: rgb(0, 94, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgb(138, 134, 134);
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    background-color: rgb(55, 127, 253);
}
.icon-section{
    height: 24px;
    width: 24px;
}
.heading-text{
    color: rgb(0, 94, 255);
    transition: transform 0.2s ease;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
}
.heading-text:hover{
    transform: scale(1.1);
    color: rgb(55, 127, 253);

}